@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");
/* == UI COMPONENTS == */
/* buttons */
[type="button"],
[type="submit"], button, .a-button {
  display: inline-block;
  background: #b4d0fa3a;
  color: #3448ff;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Space Mono", monospace;
  padding: .6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  border: 2px solid #b4d0fa3a;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  border-radius: 10px;
  max-width: 90%;
  margin-bottom: 3%; }

.buttons {
  text-align: justify; }

.buttons::after {
  content: "";
  display: flex; }

/* form */
textarea {
  max-width: 100%;
  padding: 2%;
  margin-bottom: 2%;
  display: block;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  height: auto; }

.main-form {
  border: 4px double #fefefe;
  padding: 10px;
  align-content: center; }

.stack-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.stack-form label {
  margin: 5px 10px 5px 0; }

.stack-form button:hover {
  background-color: #fdfdfd; }

.finish {
  align-content: center; }

.subtitle {
  font-weight: 700;
  color: #3fbb9c; }

/* == WORD HIGHLIGHTS == */
.highlight-yellow {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffde75 40%); }

.highlight-blue {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #bfdffd 30%); }

.highlight-green {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #d0ffb5 30%); }

.highlight-red {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #ffb5b5 30%); }

.highlight-purple {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #e8b5ff 30%); }

.highlight-grey {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 90%, #444444 30%); }

/* == HTML == */
html {
  box-sizing: border-box;
  /* natural box layout that resizes */
  font-family: "Space Mono", monospace;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4; }

*, *:before, *:after {
  box-sizing: inherit; }

div {
  display: block; }

/* body */
head, body {
  text-align: justify;
  color: #444444;
  background-color: #fdfdfd;
  padding: 1.2rem; }

body {
  box-sizing: border-box; }

a:hover {
  text-decoration: none;
  color: #000000; }

/* paragraph */
/* == HEADERS == */
h1,
h2,
h3,
h4 {
  color: #444444;
  line-height: 1.2;
  padding-top: 1rem;
  padding-bottom: .1rem;
  margin-bottom: .1rem; }

h1 {
  font-size: 2.6rem; }

/**/
.wrapper {
  max-width: 1200px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.first {
  padding: 5%;
  text-align: center;
  align-items: center; }

.fourth {
  overflow: scroll; }

.container::before,
.container::after {
  display: table;
  content: "";
  clear: both;
  width: 100%; }

.fourth, .third {
  max-height: 300px;
  overflow: scroll; }

.container {
  border: 1px solid #747474;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.06);
  background-color: #fefefe;
  max-width: 650px;
  width: 100%; }

/* == BREAKPOINTS == */
@media screen and (min-width: 650px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .container {
    width: 47%;
    flex: 1 1 auto;
    margin: 10px; }
  h1,
  h2,
  h3 {
    align-content: center;
    vertical-align: middle;
    width: 100%; } }

/* == TABLES ==  */
table {
  border-collapse: collapse;
  text-align: center; }

th {
  padding: 1rem;
  border-bottom: 3px solid #bababa; }

td {
  border-bottom: 1.7px solid #cdcdcd;
  padding: 1.5rem;
  cursor: pointer; }

.borderless td {
  border: none; }

.alternate tr:nth-child(even) {
  background-color: #e4e4e4; }

.colored-header th {
  background-color: #4ea985;
  color: #fefefe; }

/* grid */
.column {
  float: left;
  padding: 30px;
  text-align: justify; }

.column img {
  max-width: 320px;
  max-height: 400px;
  border: 13px solid #fefefe; }

.col-img {
  width: 50%; }

.col-text {
  width: 45%;
  text-align: justify; }

.row::after {
  content: '';
  display: table;
  clear: both; }

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    text-align: justify; }
  .column img {
    max-width: 320px;
    max-height: 400px; } }

/* photo grid */
.grid-container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px; }

.responsive-img {
  max-width: 100%;
  height: auto; }

.cell img {
  display: block;
  object-fit: cover; }

.cell {
  margin: 1rem;
  border: 1px solid #444444; }

@media screen and (min-width: 400px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .cell-2x2 > .cell {
    width: calc(50% - 2rem);
    min-width: 153px; }
  .cell {
    width: calc(50% - 2rem);
    max-width: 100%;
    min-width: 150px; }
  .cell-3x3 > .cell {
    width: calc(30% - 2rem);
    min-width: 96px; }
  .cell-2x6 > .cell {
    width: calc(20% - 2rem); }
  .cell-1x1 > .cell {
    width: calc(60% - 2rem);
    min-width: 340px; } }

/* site title */
.site-header {
  background-color: #ffffff;
  top: 10%;
  margin-top: 21px;
  z-index: 1000;
  border-bottom: 2px solid #d7d6d6; }

.site-title {
  font-size: 1.7rem;
  color: black; }

/* landing page & image */
@media screen and (max-width: 748px) {
  .headline-grid {
    padding: 20px;
    margin-bottom: 30px; }
  .head-img img {
    max-width: 70%;
    max-height: 50%;
    vertical-align: center; }
  .head-img, .first-line {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal; }
  .head-text {
    text-align: justify;
    padding: 30px; } }

@media screen and (min-width: 749px) {
  /* 749px is when box shadow of pic doesn't look weird */
  .headline-grid {
    max-width: 1230px;
    position: relative;
    justify-content: flex-start;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px; }
  .head-wrap {
    line-height: 40px; }
  .head-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 3.33333rem;
    font-weight: 500;
    font-style: normal; }
  .head-img {
    box-shadow: 5px 5px 5px lightgray;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
    left: 0; }
  .head-img:hover {
    box-shadow: 20px 20px 5px lightgray;
    transition: all 10 s ease-in-out;
    -webkit-transition: all 10 s ease; } }

/* PANEL GRID */
.projects {
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  position: relative; }

.panel {
  flex: 1;
  flex-basis: 45%;
  min-width: 300px;
  height: 420px;
  width: 300px;
  max-width: 25%;
  position: relative;
  border: 1px solid #efefef;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; }

.panel-image {
  height: 140px;
  width: 94%;
  border: 5px double #8a8a8a;
  position: absolute;
  bottom: 0px;
  background-size: cover;
  background-position: 55% 45%;
  background-repeat: no-repeat;
  margin: 10px;
  background-color: #fabaca;
  transition: transform .2s; }

.panel-image:hover {
  transform: scale(1.2); }

.panel:hover {
  box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.2); }

.panel h1 {
  text-align: center;
  width: 100%; }

.subtitle {
  margin: 0 0 15px;
  font-weight: 700;
  text-align: center; }

.panel p {
  margin: 0 0 30px; }

.panel-content {
  padding: 30px 30px 30px; }

.panel-content h1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffffff 40%); }

.post-content a {
  color: black;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #ffb5b5 30%); }

.post-content a:hover {
  color: black;
  background: none; }

.panel a {
  color: black;
  background: none; }

.panel a:hover {
  color: black;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #ffb5b5 30%); }
