/* == HTML == */

html {
    box-sizing: border-box; /* natural box layout that resizes */
    font-family: $font-family;
    background-color: $bg-color;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: $line-height;
  }
  
  *, *:before, *:after {
      box-sizing: inherit;
  }
  
  div {
    display: block;
  }
  
  /* body */
  head, body {
      text-align: justify; 
      color: $font-color;
      background-color: $bg-color;
      padding: 1.2rem;
  }
  
  body {
    box-sizing: border-box;
  }
  
  a:hover {
    text-decoration: none;
    color: $a-hover;
  }
  
  /* paragraph */
  
  /* == HEADERS == */
  h1,
  h2,
  h3,
  h4 {
    color: $font-color;
    line-height: 1.2;
    padding-top: 1rem;
    padding-bottom: .1rem;
    margin-bottom: .1rem;
  }
  
  h1 {
    font-size: $h1-size;
  }
 