/* == HTML == */

html {
    box-sizing: border-box; /* natural box layout that resizes */
    font-family: $font-family;
    background-color: $bg-color;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: $line-height;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
      box-sizing: inherit;
  }
  
  div {
    // display: block;
    margin-bottom: 1rem;
    // border-bottom: ;
  }
  
  /* body */
  head, body {
      text-align: justify; 
      color: $font-color;
      background-color: $bg-color;
      // padding: 1.2rem;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content 1fr;
  }

/* Anchors */

a {
  border-bottom: 3px solid #beebaa44;
  color: $a;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

  a:hover:not(.a-button) {
    background-color: #beebaa44;
  }
  
  ::selection {
    background-color: $yellow-highlight;
    color: $font-color;
  }

  /* paragraph */
  
  /* == HEADERS == */
  h1,
  h2,
  h3,
  h4 {
    color: $font-color;
    line-height: 1.2;
    
  }
  
  h1 {
    font-size: $h1-size;
  }
 
  h4 {
    // margin: 1rem;
    // border: 1px solid black;
    padding: 20px;
  }

  :focus {
    outline: none;
  }