/**/

.wrapper {
	max-width: 1200px;
	text-align: center;
	padding: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  .first {
	padding: 5%;
	text-align: center;
	align-items: center;
  }
  
  .fourth {
	  overflow: scroll;
  }
  
  .container::before,
  .container::after {
	display: table;
	content: "";
	clear: both;
	width: 100%;
  }
  
  .fourth, .third {
	  max-height: 300px;
	  overflow: scroll;
  }
  
  .container {
	border: 1px solid rgb(116, 116, 116);
	margin: 20px;
	display: flex;
	justify-content: center;
  flex-direction: column;
	transition: all 0.3s ease;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.06);
	background-color: #fefefe;
	max-width: 650px;
	width: 100%;
  }

  /* == BREAKPOINTS == */

@media screen and (min-width: 650px) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  
    .container {
      width: 47%;
      flex: 1 1 auto;
      margin: 10px;
    }
  
    h1,
    h2,
    h3 {
      align-content: center;
    //   text-align: center;
      vertical-align: middle;
      width: 100%;
    }
  
  }