/* == TABLES ==  */

td {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  
  /* grid */
  .column {
    float: left;
    padding: 30px;
    text-align: justify;
  }
  
  .column img {
    max-width: 320px;
    max-height: 400px;
    border: 13px solid #fefefe;
  }
  
  .col-img { // div containing image within column
    width: 50%;
  }
  
  .col-text {
    width: 45%;
    text-align: justify;
  }
  
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
      text-align: justify;
    }
  
    .column img {
      max-width: 320px;
      max-height: 400px;
    }
  }
  
  /* photo grid */

.grid-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
  }
  
  .responsive-img {
    max-width: 100%;
    height: auto;
  }
  
  .cell img {
    display: block;
    object-fit: cover;
  }
  
  .cell {
    margin: 1rem;
    border: 1px solid $font-color;
  }
  
  @media screen and (min-width: 400px) {

    $twobytwo: 50%;
    $threebythree: 30;
    $twobyfive: 20;
    $singlecolumn: 60;
    $twocolumns: 50;
  
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell-2x2 > .cell {
      width: calc(50% - 2rem);
      min-width: 153px;
    }
  
    .cell {
      width: calc(50% - 2rem);
      max-width: 100%;
      min-width: 150px;
    }

    .cell-3x3  > .cell {
      width: calc(30% - 2rem);
      min-width: 96px;
    }

    .cell-2x6 > .cell {
      width: calc(20% - 2rem);
    }

    .cell-1x1 > .cell {
      width: calc(60% - 2rem);
      min-width: 340px;
    }

  }