 /* site title */

 .site-header {
    background-color: $header-bg;
    top: 10%;
    margin-top: 21px;
    z-index: 1000;
    border-bottom: 2px solid rgb(215, 214, 214);
  }
  
  .site-title {
    font-size: 1.7rem;
    color: black;
  }

  .site-header, .site-title {
    // padding: .2rem;
  }