// Google Font
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");

$font-family: 'Space Mono', monospace;

$font-color: #444444;

$bg-color: #fdfdfd;
$container-bg: #fefefe;
$panel-bg: #fabaca;
$header-bg: #ffffff;

$a: #75a012;
$a-hover: #000000;
$button-color: #b4d0fa3a;
$button-font: #3448ff;


$yellow-highlight: #ffde75;
$blue-highlight: #bfdffd;
$green-highlight: #d0ffb5;
$red-highlight: #ffb5b5;
$purple-highlight: #e8b5ff;

$line-height: 1.4;
$h1-size: 2.6rem;