/* == UI COMPONENTS == */

/* buttons */

[type="button"],
[type="submit"], button,
.a-button,
.yellow-button,
.transp-button,
.green-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-family: $font-family;
  padding: .6rem 1.2rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
//   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  line-height: 1;
  // margin: 0.25rem 0;
  border-radius: 10px;
  max-width: 90%;
  margin-bottom: 3%;
  margin-top: 10px;

  @media screen and (max-width: $tablet-breakpoint) {
    max-width: 100%;
  }
}

[type="button"],
[type="submit"], button,
.a-button {
  background: $button-color;
  color: $button-font;
  border: 2px solid $button-color;
}

.pink-button {
  background: #f2deff;
  color: #900098;
  border: 2px solid #f2deff;
}

.green-button {
  background: #ebffde;
  color: #039800;
  border: 2px solid #d7ffbd;
}


.transp-button {
  background: none;
  color: $font-color;
}

.transp-button:hover {
  background-color: rgb(255, 255, 177);
}

.a-button:hover {
  background-color: none;
}

[type="button"]:hover,
[type="submit"]:hover, button:hover {
  background-color: white;
}

.buttons {
  text-align: justify;
}

.buttons::after {
  content:"";
  display: flex;
  // width: 99.5%;
}